.mainSection {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.contentBox {
  width: 40%;
}

.contentBox h1 {
  font-size: 5.2rem;
  color: #fdb827;
  font-family: "Bebas Neue", cursive;
}

.contentBox p {
  font-size: 2.2rem;
  color: #542583;
  font-family: "Bebas Neue", cursive;
}

.imgContainer {
  width: 31%;
  position: relative;
  top: 30px;
}

@media screen and (max-width: 900px) {
  html {
    font: size 11px;
  }

  .imgContainer {
    width: 200px;
    height: auto;
  }
}

@media screen and (max-width: 768px) {
  html {
    font-size: 11px;
  }
  .mainSection {
    flex-direction: column;
  }
  .contentBox {
    width: 90%;
    margin: 0 auto;
  }

  .imgContainer {
    width: 100%;
  }
}
